// File: App.scss
// This file contains all styles related to the site/application.
@import './assets/scss/fonts';
@import './assets/scss/mixins';
@import './assets/scss/variables';
// @import './assets/scss/utilities/base';
/* ----------------------------------- */
// @import './components/SidebarSection/sidebar.scss';
// @import './layouts/Header/search';
// @import './pages/pages';
// @import './components/components';


html {
   font-size:  90%;
}
*{
  padding: 0;
  box-sizing: border-box;
  margin:0;
  font-family: 'Montserrat', sans-serif ;
  transition: .3s ease;
}

body {
  background-color: $paleGreen;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}
.icon {
   font-size: $h2FontSize;

}

img {
  width: 100%; 
  height: auto;
}
.flex {

  display: flex;
  align-items: center;
}
.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 4px $inputColor;
  padding: .8rem 1rem;
  color : $textColor;


}

.btn .icon {
  margin-left: .5rem ;
}

.btn:hover {
   background: $paleGreen;
   color:$primaryColor

}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.container {
  position: relative;
  width: 95vw;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bgColor;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow:  2px 2px 8px $greyText ;
}


// /* Works on Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-width: 4px;
//   scrollbar-color: $primaryColor $primaryColor;
// }

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
   display: none;
}

// *::-webkit-scrollbar-track {
//   background: $primaryColor;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: $primaryColor;
//   border-radius: 0;
//   border: 0px solid $whiteColor;
// }